/*
[0]GENERAL
[1]INPUT
[2]OUTPUT
[3]MEDIA QUERIES
*/


/*[0] GENERAL*/
body{
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	background-color: #000;
	color:#684691;
}
select, option{
	padding: 5px;
	border:none;
	background-color: #684691;
	color: #000;
	margin: 1% auto;
	display: inline-block;
}
h1{
	font-family: 'Norican', cursive;
}
/*[1] INPUT*/
.ball{
	margin: 0 auto;
	display: block;
	width: 200px;
	height: 200px;
}
.input{
	padding-top: 3%;
}

/*[2]OUTPUT*/
.output p{
	line-height: 14px;
}
