/*
[0]GENERAL
[1]INPUT
[2]OUTPUT
[3]MEDIA QUERIES
*/
/*[0] GENERAL*/
body {
	background-image: url("https://marleyva233.github.io/horoscope/img/stars1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	background-color: #000;
	color:rgb(0, 225, 225);
}
select, 
option {
	padding: 5px;
	border:none;
	background-color: #684691;
	color: rgb(0, 225, 225);
	margin: 0 auto;
	display: inline-block;
}
h1 {
	font-family: 'Lato', sans-serif;
	color: rgb(225, 0, 225);
	font-weight: bold;
}
/*[1] INPUT*/
.ball {
	animation-duration: 7s;
	text-shadow: 5px 5px rgba(0, 225, 225);
	margin: 0 auto;
	display: block;
	width: 200px;
	height: 200px;
}
.input {
	padding-top: 3%;
}
@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.3;
  }
}
@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.3;
  }
}
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
/*[2]OUTPUT*/
.output p {
	line-height: 14px;}
.output {
	display:none;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 50%;
}